push.bat
TestResult.xml
obj
bin
.sass-cache/*
deploy
packages/*
deploy/*
.idea/*
src/CommonAssemblyInfo.cs
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.dotCover
*.suo
*.cache
*.user
*.dbmdl
~$*
**/*.orig
.sass-cache
*App_Data/attachments/*
*.Publish.xml
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.ncrunchproject
*.ncrunchsolution
_cache
packages
/lib/raven
