/* Tables
----------------------------------------------------------*/

table {
    text-align: left;
}


.header .weekNavigation  {
    float: left;
}
.header .weekNavigation .middle {
    margin-left: 25px;
    margin-right: 25px;
}

.roomNames 
{
    text-align: left;
}

.dayLine.odd {
    background-color: gainsboro;
}

.dayLineDay.today {
    border-left: groove goldenrod thick;
}

.dayLine .dayLineDay {
    vertical-align: top;
}

.dayList {
    font-size: 0.7em;
    text-align: left;
}
.dayList .hourLine .hour {
    width: 31px;
}
.dayList .hourLine .entry {
    width: 140px;
    float: right;
}
.entry.booked {
    background-color: firebrick;
    color: white;
    white-space: nowrap;
    width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.hourLine.peakTimeBeginning {
    border-top: thin dotted darkgray;
}
.datepickerStuff {
    float: right;
}

.informationPanel {
    border: 1px firebrick dotted;
    padding: 4px;
    margin: 4px;
    font-size: 1.2em;
}