/* Tables
----------------------------------------------------------*/

table
{
    text-align: left;
}

a:link, a:visited, a:hover, a:active
{
    color: firebrick;
    text-decoration: none;
}

.weekpickerStuff
{
    float: right;
}

.roomNames
{
    text-align: left;
}

.dayLine.odd
{
    background-color: gainsboro;
}

.dayLineDay.today
{
    border-left: groove goldenrod thick;
}

.dayLine .dayLineDay
{
    vertical-align: top;
}

.dayList
{
    font-size: 0.7em;
    text-align: left;
}
.dayList .hourLine .hour
{
    width: 31px;
}
.dayList .hourLine .entry
{
    width: 133px;
    float: right;
}
.entry.booked
{
    background-color: firebrick;
    color: white;
    white-space: nowrap;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.entry.booked.noShow
{
    border-left: groove black thick;
}
.entry.booked.arrived
{
    border-left: groove blue thick;
}
.hourLine.peakTimeBeginning
{
    border-top: thin dotted darkgray;
}
.datepickerStuff
{
    float: right;
}

.informationPanel
{
    border: 1px firebrick dotted;
    padding: 4px;
    margin: 4px;
    font-size: 1.2em;
}

.navBar
{
    padding: 0.3em;
    border-bottom: 1px firebrick solid;
}
.navBarItem
{
    font-variant: small-caps;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5em;
}
.weekLine {
    vertical-align: top;
}
.weekLine .day {
    height: 150px;
    border-bottom: 1px dimgrey solid;
}
.weekLine .day .dayHeading {
    border-bottom: 1px dimgrey solid;
    padding: 2px;
}
.weekLine .day .dayHeading.availability {
    background-color: firebrick;
    color: white;
}
.weekLine .day.today
{
    border: groove goldenrod thick;
}
.weekLine .day.notThisMonth
{
    background-color: lightgrey;
}