body {
}

#slider-bg
{
    width: 228px;
    height: 24px;
    background: url(http://yui.yahooapis.com/2.9.0/build/slider/assets/bg-fader.gif) 5px 0 no-repeat;
}
#slider-thumb
{
    left: 0;
}