.contactDetails
{
    padding: 15px 0;
    width: 100%;
}
.direct
{
    width: 300px;
    float: left;
}
.address
{
    width: 300px;
    float: left;
}
.cartoonContainer
{
    padding: 30px 15px;
}