body {
}

input
{
    width: 300px;
}

.contactForm
{
    display: block;
    float: left;
    border: none;
}
.contact .item
{
    overflow: auto;
    line-height: 30px;
}
.contact .item .label
{
    display: block;
}
.contact .item .contextHelp
{
    line-height: normal;
    font-size: 0.75em;
}
.contactDisclaimer
{
    clear: both;
}