.subTitle 
{
    color: RGB(246, 132,31);
    font-size: 1.6em;
    font-weight:bold;
}
p
{
    font-size: 1.1em;
    text-align: justify;
    padding: 3px;
}
li
{
    font-size: 1.1em;
    text-align: justify;
    padding: 3px;
    margin-left: 20px;
}
.subTitle a
{
    cursor: default;
    text-decoration: none;
}
.subTitle a:hover
{
    color: RGB(246, 132,31);
}