.thisWeek 
{
    clear: both;
}
.infoPanel
{
    width: 350px;
    float: left;
    border: none;
}
.right
{
    padding-left: 10px;
    border-left: 3px dotted RGB(246, 132,31);
}
.gigCounts
{
    vertical-align: middle;
    font-size: 0.9em;
}
.totalGigs
{
    font-size: 2em;
}
.futureGigs
{
    font-size: 2em;
}
.actions
{
    margin-top: -10px;
}